<ons-page>
    <ons-list>
        <ons-list-header style="padding: 3% 0 3% 5%; font-size: 14pt; background-color: Gainsboro; font-weight: 500; color: black;">
            Today
        </ons-list-header>
        <ons-list-item style="padding: 0 3% 3% 3%;" id="list-white" ng-click="myNav.pushPage('transaction_detail.html', {animation: 'lift'});">
            <ons-row width="100%">
                <ons-col width="30%">
                    <div class="center">
                        <img src="assets/icon/telkomsel-icon.png" width="80px" height="80px" alt="" />
                    </div>
                </ons-col>
                <ons-col width="65%">
                    <ons-row style="font-size: 8pt; color:#A9A9A9;">
                        Pulsa &#8226; 11 Mar, 20:00
                    </ons-row>
                    <ons-row style="font-size: 10pt; font-weight: 400; padding: 1% 0 0 0;">
                        RUP7868 &#8226; &nbsp; <span style="color: #ffcc00;"> Dalam Proses </span> 
                    </ons-row>
                    <ons-row style="font-size: 14pt; font-weight: 500; padding: 1% 0 2% 0;">
                        Simpati 50.000
                    </ons-row>
                    <ons-row style="font-size: 10pt;">
                        Rp 50.250
                    </ons-row>
                </ons-col>
                <ons-col width="5%">
                    <ons-row>
                        <br />
                    </ons-row>
                    <ons-row style="padding-top: 30%; display: table-cell; height: 100%; vertical-align: middle">
                        <ons-icon icon="ion-chevron-right" style="color: Gainsboro;" size="20pt"></ons-icon>
                    </ons-row>
                    <ons-row>
                    </ons-row>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item style="padding: 0 3% 3% 3%;" id="list-white" ng-click="myNav.pushPage('transaction_detail.html', {animation: 'lift'});">
            <ons-row width="100%">
                <ons-col width="30%">
                    <div class="center">
                        <img src="assets/icon/telkomsel-icon.png" width="80px" height="80px" alt="" />
                    </div>
                </ons-col>
                <ons-col width="65%">
                    <ons-row style="font-size: 8pt; color:#A9A9A9;">
                        Rupi Cash &#8226; 11 Mar, 20:00
                    </ons-row>
                    <ons-row style="font-size: 10pt; font-weight: 400; padding: 1% 0 0 0;">
                        RUP7868 &#8226; &nbsp; <span style="color: #004d00;"> Berhasil </span> 
                    </ons-row>
                    <ons-row style="font-size: 14pt; font-weight: 500; padding: 1% 0 2% 0;">
                        Cashback
                    </ons-row>
                    <ons-row style="font-size: 10pt;">
                        Rp 50.250
                    </ons-row>
                </ons-col>
                <ons-col width="5%">
                    <ons-row>
                        <br />
                    </ons-row>
                    <ons-row style="padding-top: 30%; display: table-cell; height: 100%; vertical-align: middle">
                        <ons-icon icon="ion-chevron-right" style="color: Gainsboro;" size="20pt"></ons-icon>
                    </ons-row>
                    <ons-row>
                    </ons-row>
                </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-item style="padding: 0 3% 3% 3%;" id="list-white" ng-click="myNav.pushPage('transaction_detail.html', {animation: 'lift'});">
            <ons-row width="100%">
                <ons-col width="30%">
                    <div class="center">
                        <img src="assets/icon/telkomsel-icon.png" width="80px" height="80px" alt="" />
                    </div>
                </ons-col>
                <ons-col width="65%">
                    <ons-row style="font-size: 8pt; color:#A9A9A9;">
                        Pulsa &#8226; 11 Mar, 20:00
                    </ons-row>
                    <ons-row style="font-size: 10pt; font-weight: 400; padding: 1% 0 0 0;">
                        RUP7868 &#8226; &nbsp; <span style="color: #b30000;"> Transaksi Dibatalkan </span> 
                    </ons-row>
                    <ons-row style="font-size: 14pt; font-weight: 500; padding: 1% 0 2% 0;">
                        Simpati 50.000
                    </ons-row>
                    <ons-row style="font-size: 10pt;">
                        Rp 50.250
                    </ons-row>
                </ons-col>
                <ons-col width="5%">
                    <ons-row>
                        <br />
                    </ons-row>
                    <ons-row style="padding-top: 30%; display: table-cell; height: 100%; vertical-align: middle">
                        <ons-icon icon="ion-chevron-right" style="color: Gainsboro;" size="20pt"></ons-icon>
                    </ons-row>
                    <ons-row>
                    </ons-row>
                </ons-col>
            </ons-row>
        </ons-list-item>
        
    </ons-list>
</ons-page>