<ons-page ng-controller="enterPinCtrl" id="pinPage" ng-init="init();">
    <ons-toolbar style="background: #083075;" fixed-style modifier="transparent">
        <ons-back-button style="color: white;"> Back </ons-back-button>
    </ons-toolbar>
    <div id="pin">
        <span style="font-size: 20pt; padding: 0;">Enter your PIN number</span>
        <div class="dots" id="bullet" style="margin-top: -3%; margin-bottom: 3%;">
            <div class="dot" id="pin1"></div>
            <div class="dot" id="pin2"></div>
            <div class="dot" id="pin3"></div>
            <div class="dot" id="pin4"></div>
            <div class="dot" id="pin5"></div>
            <div class="dot" id="pin6"></div>
        </div>
         <span style="color: white; margin-top: -2%; padding-bottom: 2%; font-style:nold;" id="incorrect"></span>
        <span style="color: #425bb4; font-size: 8pt;">Forgot PIN number?</span>
        <div id="numbers" style="margin-top: 2%;">
            <ons-row>
                <ons-col>
                    <div class="number" ng-click="add(1)"> 1 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(2)"> 2 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(3)"> 3 </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <div class="number" ng-click="add(4)"> 4 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(5)"> 5 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(6)"> 6 </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <div class="number" ng-click="add(7)"> 7 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(8)"> 8 </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(9)"> 9 </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <div >  </div>
                </ons-col>
                <ons-col>
                    <div class="number" ng-click="add(0)"> 0 </div>
                </ons-col>
                <ons-col>
                    <div >  </div>
                </ons-col>
            </ons-row>
        </div>
    </div>
    
</ons-page>